<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="FileAppender" fileName="proper.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="morph" level="trace" additivity="true">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="jtsadaptions" level="trace" additivity="true">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="io" level="trace" additivity="true">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="scoringStrategies" level="trace" additivity="true">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Root level="ALL">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>

